#photos
  %ul.clearing-thumbs{"data-clearing" => ""}
    - @post.photos.each do |photo|
      - if photo.image_url
        %li
          = link_to photo.image_url do
            = image_tag(photo.image_url(:thumb), class: "th")
          - if user_signed_in?  
            %h6.text-center
              = link_to "törlés", photo, method: :delete, confirm: "Biztos hogy törlöd?"

%br/
